.histocyComponent li {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: "100%";
}

.histocyComponent div {
    display: flex;
    justify-content: center;
}

.histocyComponent span {
    padding: 0.2em;
    margin: 0.4em 0.1rem;
    color: #ededed;
    flex-direction: row;
}

.day {
    background-color: #293e51
}

.bodyFat {
    background-color: #295129;
}

.weight {
    background-color: #513829;
}